body {
    margin: auto;

    background-color: blueviolet;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-inline-start: 1200px;
}